@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Ubuntu;
  font-size: 18px; }

.wrapper {
  display: block;
  max-width: 1187px;
  margin: 90px auto; }

.header--text {
  font-size: 48px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  margin-bottom: 13px;
  color: #227947;
  font-family: "UbuntuMedium"; }
  @media (max-width: 503px) {
    .header--text {
      line-height: 40px; } }

.header--description {
  color: #2f2f2f; }

.content {
  padding: 34px 1px 0 1px; }

.footer {
  margin-top: 6px;
  margin-left: 1px; }
  .footer--text {
    margin-bottom: 4px; }

.input-number {
  padding: 10px 0 10px 12px;
  letter-spacing: .7px;
  margin-right: 15px;
  margin-bottom: 15px;
  outline: none; }

.btn-submit {
  background-color: #68a976;
  color: #ffffff;
  font-size: 18px;
  font-family: Ubuntu;
  padding: 8px 25px 10px 25px;
  border: none;
  outline: none; }
  .btn-submit:hover {
    cursor: pointer; }

.disabled {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  color: #ccc; }
  .disabled:hover {
    cursor: not-allowed; }

.calendar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 773px) {
    .calendar {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  .calendar-item {
    padding: 0 15px 10px 13px;
    margin-bottom: 16px;
    width: 185px;
    min-height: 198px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(119, 185, 126, 0.14902);
    border: 1px solid rgba(37, 134, 60, 0.5);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #0d592d; }

.month-name {
  text-align: center;
  margin-top: 4px;
  position: relative;
  padding-left: 1px; }
  .month-name:before {
    content: "";
    width: 125px;
    height: 1px;
    background-color: #8d978e;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 15px; }

.week {
  margin-top: 17px;
  font-size: 14px; }
  .week--day {
    width: 20px;
    heigth: 20px;
    text-align: center;
    background-color: #ffffff;
    margin: 0 1px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block; }

.month-days {
  margin-top: 6px;
  font-size: 14px; }
  .month-days--day {
    width: 20px;
    heigth: 20px;
    text-align: center;
    margin: 1px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }
    .month-days--day:hover {
      cursor: pointer; }

.holiday {
  background-color: #e2907a;
  color: #ffffff; }

.today {
  background-color: #76b97e;
  color: #ffffff; }

.choosen {
  background-color: lightgreen;
  color: #000;
  -webkit-box-shadow: 0 0 2px green;
          box-shadow: 0 0 2px green; }

.busy {
  background-color: blue;
  color: #fff; }
